.chat-cont {
  background-color: black;
  height: 80vh;
  border: solid white 1px;
  display: flex;
  align-items: start;
  justify-content: center;

  img {
    width: 40px;
    background-color: white;
  }
}
